Repository AniTrend/anitrend-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "**/*.{html,json,css,scss,md,mdx}": ["prettier -w"]
}

feat(handoff): expand app entry points and refresh key surfaces
  .agents/skills/anitrend-ecosystem-awareness/references/website-surfaces.md
  messages/en/common.json
  messages/en/dashboard.json
  messages/en/marketing.json
  src/app/dashboard/page.tsx
  src/app/globals.css
  src/app/page.tsx
  src/components/app-handoff/app-handoff-fallback-dialog.tsx
  src/components/dashboard-app-shortcuts.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/sections/app-handoff-section.tsx
  src/components/sections/app-showcase-section.tsx
  src/components/sections/community-section.tsx
  src/components/sections/features-section.tsx
  src/components/sections/get-the-app-section.tsx
  src/components/sections/hero-section.tsx
  src/components/sections/integrations-section.tsx
  src/components/sections/section-intro.tsx
  src/config/links.ts
  tests/dashboard.spec.ts
  tests/home.spec.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

fix(docker): copy locale messages into build stage (#462)
  Dockerfile
Due: none

refactor(recommend): retire unsupported genkit experience
  .github/instructions/app-router.instructions.md
  .github/instructions/context.instructions.md
  AGENTS.md
  README.md
  messages/en/common.json
  messages/en/dashboard.json
  messages/en/marketing.json
  messages/en/recommend.json
  package.json
  src/ai/dev.ts
  src/ai/flows/recommend-anime-flow.ts
  src/ai/genkit.ts
  src/app/dashboard/page.tsx
  src/app/page.tsx
  src/app/recommend/layout.tsx
  src/app/recommend/page.tsx
  src/components/header.tsx
  src/components/sections/ai-recommender-section.tsx
  src/i18n/request.ts
  tests/recommend-retirement.spec.ts
  yarn.lock
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

refactor(recommend): retire unsupported genkit experience (#463)
  .github/instructions/app-router.instructions.md
  .github/instructions/context.instructions.md
  AGENTS.md
  README.md
  messages/en/common.json
  messages/en/dashboard.json
  messages/en/marketing.json
  messages/en/recommend.json
  package.json
  src/ai/dev.ts
  src/ai/flows/recommend-anime-flow.ts
  src/ai/genkit.ts
  src/app/dashboard/page.tsx
  src/app/page.tsx
  src/app/recommend/layout.tsx
  src/app/recommend/page.tsx
  src/components/header.tsx
  src/components/sections/ai-recommender-section.tsx
  src/i18n/request.ts
  tests/recommend-retirement.spec.ts
  yarn.lock
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

chore: bump version to 0.4.1
  package.json
Due: prettier -w

fix(handoff): update button styling for improved layout
  src/components/sections/app-handoff-section.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat(handoff): expand app entry points and refresh key surfaces (#464)
  .agents/skills/anitrend-ecosystem-awareness/references/website-surfaces.md
  messages/en/common.json
  messages/en/dashboard.json
  messages/en/marketing.json
  src/app/dashboard/page.tsx
  src/app/globals.css
  src/app/page.tsx
  src/components/app-handoff/app-handoff-fallback-dialog.tsx
  src/components/dashboard-app-shortcuts.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/sections/app-handoff-section.tsx
  src/components/sections/app-showcase-section.tsx
  src/components/sections/community-section.tsx
  src/components/sections/features-section.tsx
  src/components/sections/get-the-app-section.tsx
  src/components/sections/hero-section.tsx
  src/components/sections/integrations-section.tsx
  src/components/sections/section-intro.tsx
  src/config/links.ts
  tests/dashboard.spec.ts
  tests/home.spec.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

chore: bump version to 0.5.0
  package.json
Due: prettier -w

fix: update release drafter configuration to specify commitish and token
  .github/workflows/deploy.yml
Due: none

refactor(deploy): update release workflow to validate and publish images on specific triggers
  .github/instructions/context.instructions.md
  .github/workflows/deploy.yml
Due: prettier -w

fix: update pull request template to reflect branch targeting main
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier -w

fix: update release drafter configuration to specify commitish and token (#468)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/instructions/context.instructions.md
  .github/workflows/deploy.yml
Due: prettier -w

fix: simplify package manager version in package.json
  package.json
Due: prettier -w

fix: simplify package manager version in package.json (#469)
  package.json
Due: prettier -w

chore: update deploy.yml
  .github/workflows/deploy.yml
Due: none

chore: remove unused Claude settings and skill documentation
  .claude/settings.json
  .claude/skills/debug-issue.md
  .claude/skills/explore-codebase.md
  .claude/skills/refactor-safely.md
  .claude/skills/review-changes.md
Due: prettier -w

chore: remove unused MCP configuration file
  .mcp.json
Due: prettier -w

chore: add implementation plan and design for website cleanup and app handoff
  docs/superpowers/plans/2026-05-01-website-cleanup-and-app-handoff.md
  docs/superpowers/specs/2026-05-01-website-cleanup-and-app-handoff-design.md
Due: prettier -w

chore: clean up resources (#470)
  .claude/settings.json
  .claude/skills/debug-issue.md
  .claude/skills/explore-codebase.md
  .claude/skills/refactor-safely.md
  .claude/skills/review-changes.md
  .mcp.json
  docs/superpowers/plans/2026-05-01-website-cleanup-and-app-handoff.md
  docs/superpowers/specs/2026-05-01-website-cleanup-and-app-handoff-design.md
Due: prettier -w

fix: add environment specification to build-release job in deploy.yml
  .github/workflows/deploy.yml
Due: none

chore: bump version to 0.4.2
  package.json
Due: prettier -w

fix(ui): wrap dashboard shortcut copy and remove header icon
  src/components/dashboard-app-shortcuts.tsx
  src/components/header.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve security vulnerabilities via dependency resolutions
  package.json
  yarn.lock
Due: prettier -w

fix: replace Github lucide-react icon with simple-icons for v1 compatibility
  src/components/sections/get-the-app-section.tsx
  src/components/sections/hero-section.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

fix: add CSS module type declaration for TypeScript 6 compatibility
  src/globals.d.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

fix: migrate to Next.js 16 and eslint-config-next v16
  eslint.config.js
  next.config.ts
  package.json
  src/components/consent/analytics-consent-banner.tsx
  src/components/settings/analytics-settings.tsx
  src/components/ui/carousel.tsx
  src/components/ui/sidebar.tsx
  src/hooks/use-mobile.tsx
  tsconfig.json
  yarn.lock
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

fix: sync eslint config after rebase
  eslint.config.js
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

fix: regenerate yarn.lock
  yarn.lock
Due: none

fix(deps): resolve security vulnerabilities in transitive dependencies
  package.json
  yarn.lock
Due: prettier -w

fix(deps): resolve security vulnerabilities in transitive dependencies (#586)
  package.json
  yarn.lock
Due: prettier -w

fix(deps): resolve dependency audit findings
  yarn.lock
Due: none

fix(deps): align audit fixes with hardened install
  .yarnrc.yml
  yarn.lock
Due: none

fix(deps): resolve dependency audit findings
  .yarnrc.yml
  yarn.lock
Due: none

docs: add repository codemap
  .slim/codemap.json
  AGENTS.md
  codemap.md
  src/app/anime/[id]/codemap.md
  src/app/anime/codemap.md
  src/app/api/codemap.md
  src/app/api/repositories/codemap.md
  src/app/codemap.md
  src/app/dashboard/codemap.md
  src/app/discover/codemap.md
  src/codemap.md
  src/components/app-handoff/codemap.md
  src/components/codemap.md
  src/components/consent/codemap.md
  src/components/sections/codemap.md
  src/components/settings/codemap.md
  src/components/ui/codemap.md
  src/config/codemap.md
  src/hooks/codemap.md
  src/i18n/codemap.md
  src/lib/codemap.md
Due: prettier -w
