Repository AniTrend/anitrend-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "**/*.{html,json,css,scss,md,mdx}": ["prettier -w"]
}

fix: update deep linking URLs and remove unused login/signup pages
  .github/instructions/context.instructions.md
  src/app/anime/[id]/page.tsx
  src/app/dashboard/page.tsx
  src/app/login/page.tsx
  src/app/signup/page.tsx
  src/components/footer.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

fix: add missing LayoutDashboard icon import in AppHeader component
  src/components/header.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

chore(deps): add simple-icons dependency to package.json and yarn.lock
  package.json
  yarn.lock
Due: prettier -w

refactor: update footer layout and enhance GitHub icon with simple-icons
  src/components/footer.tsx
  src/components/header.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement GitHub repository fetching and display functionality
  src/app/api/repositories/route.ts
  src/app/page.tsx
  src/components/repository-showcase.tsx
  src/lib/github-service.ts
  src/lib/types.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: add discord button variant with hover effects and transitions
  src/components/ui/button.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: add app icons for touch and browser compatibility
  src/app/apple-touch-icon.png
  src/app/favicon.ico
  src/app/icon-192.png
  src/app/icon-512.png
Due: none

feat: add Discord icon component and update layout metadata with icons
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: update README with project details, tech stack, and contribution guidelines
  README.md
Due: prettier -w

feat: add new icons and update header with logo image
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon-192.png
  public/icon-512.png
  public/logo.png
  src/components/footer.tsx
  src/components/header.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: remove QR code functionality and update Google Play button for direct link
  next.config.ts
  src/app/page.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: add Google Play icon to the homepage and improve accessibility with role attribute
  src/app/page.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: add screenshot functionality with curated showcase and detailed categories
  public/screenshots/anime-detail-2.png
  public/screenshots/anime-detail.png
  public/screenshots/app-home-dark.png
  public/screenshots/app-home-light.png
  public/screenshots/discover.png
  public/screenshots/dual-theme-1.png
  public/screenshots/dual-theme-2.png
  public/screenshots/feeds-1.png
  public/screenshots/feeds-2.png
  public/screenshots/feeds-3.png
  public/screenshots/manga-detail.png
  public/screenshots/more-1.png
  public/screenshots/more-2.png
  public/screenshots/more-3.png
  public/screenshots/more-4.png
  public/screenshots/more-5.png
  public/screenshots/more-6.png
  public/screenshots/reviews-1.png
  public/screenshots/reviews-2.png
  public/screenshots/reviews-3.png
  public/screenshots/user-profile.png
  src/app/page.tsx
  src/lib/screenshots-service.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: remove unused icon files to streamline asset management
  src/app/apple-touch-icon.png
  src/app/favicon.ico
  src/app/icon-192.png
  src/app/icon-512.png
Due: none

feat: enhance DiscoverClient with advanced filtering, search functionality, and pagination support
  src/app/anime/[id]/page.tsx
  src/app/discover/page.tsx
  src/components/discover-client.tsx
  src/lib/anime-service.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: remove contact form component to streamline codebase
  src/components/contact-form.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: update links configuration with dynamic URLs and fallback repository data
  src/app/page.tsx
  src/config/links.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: restructure layout with header and footer components
  src/app/layout.tsx
  src/app/page.tsx
  src/config/links.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: remove contact form component to streamline codebase
  .github/instructions/context.instructions.md
  .github/instructions/update-context.instructions.md
  src/app/anime/[id]/page.tsx
  src/app/dashboard/page.tsx
  src/app/discover/page.tsx
  src/app/page.tsx
  src/app/recommend/page.tsx
  src/components/anime-preview.tsx
  src/components/contact-form.tsx
  src/components/header.tsx
  src/components/repository-showcase.tsx
  src/components/sections/ai-recommender-section.tsx
  src/components/sections/app-showcase-section.tsx
  src/components/sections/community-section.tsx
  src/components/sections/features-section.tsx
  src/components/sections/get-the-app-section.tsx
  src/components/sections/hero-section.tsx
  src/components/sections/integrations-section.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w
