Repository AniTrend/anitrend-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

chore: bump version to 0.1.1
  package.json
Due: prettier -w

fix: await searchParams in Discover page for Next.js 15 compatibility
  .github/instructions/context.instructions.md
  package.json
  playwright.config.ts
  src/app/discover/page.tsx
  src/components/discover-client.tsx
  test-results/.last-run.json
  tests/discover.spec.ts
  yarn.lock
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

test(e2e): improve test robustness by waiting for anime images to render
  tests/discover.spec.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

fix: harden discover fetches and analytics guard
  src/app/discover/page.tsx
  src/components/discover-client.tsx
  src/lib/anime-service.ts
  src/lib/firebase.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat(dashboard): upcoming teaser + discover shortcuts
  .github/instructions/context.instructions.md
  src/app/dashboard/page.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

chore: exclude Playwright test artifacts from version control (#322)
  .gitignore
  test-results/.last-run.json
Due: prettier -w

fix: stabilize useEffect hydration and remove redundant Promise wrapper (#323)
  src/app/discover/page.tsx
  src/components/discover-client.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

chore: fix lint unused vars
  src/app/discover/page.tsx
  src/components/discover-client.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: url-nav-state and dashboard revamp (#321)
  .github/instructions/context.instructions.md
  .gitignore
  package.json
  playwright.config.ts
  src/app/dashboard/page.tsx
  src/app/discover/page.tsx
  src/components/discover-client.tsx
  src/lib/anime-service.ts
  src/lib/firebase.ts
  tests/discover.spec.ts
  yarn.lock
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

chore: bump version to 0.2.0
  package.json
Due: prettier -w

feat: enhance anime details page
  playwright.config.ts
  src/app/anime/[id]/page.tsx
  src/lib/anime-service.ts
  src/lib/types.ts
  tests/details.spec.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

chore: bump version to 0.3.0
  package.json
Due: prettier -w

chore: optimize deployment workflow
  .github/workflows/deploy.yml
Due: none

fix: correct parameter name for GitHub app token in release drafter workflow
  .github/workflows/release-drafter.yml
Due: none

feat: add Open Graph support and enhance metadata for discover and recommend pages
  src/app/discover/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/recommend/layout.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: add agentic workflow guide and update context instructions
  .agents/skills/anitrend-agentic-workflow/SKILL.md
  .agents/skills/anitrend-ecosystem-awareness/SKILL.md
  .agents/skills/anitrend-ecosystem-awareness/references/app-route-contract.md
  .agents/skills/anitrend-ecosystem-awareness/references/website-surfaces.md
  .agents/skills/anitrend-metadata-and-social-preview/SKILL.md
  .agents/skills/anitrend-metadata-and-social-preview/references/app-router-metadata.md
  .agents/skills/anitrend-shadcn-extension-patterns/SKILL.md
  .agents/skills/anitrend-shadcn-extension-patterns/references/primitive-extension.md
  .agents/skills/keeping-nextjs-react-tailwind-coherent/SKILL.md
  .agents/skills/keeping-nextjs-react-tailwind-coherent/references/nextjs.md
  .agents/skills/keeping-nextjs-react-tailwind-coherent/references/react.md
  .agents/skills/keeping-nextjs-react-tailwind-coherent/references/repo-patterns.md
  .agents/skills/keeping-nextjs-react-tailwind-coherent/references/tailwind.md
  .github/instructions/app-router.instructions.md
  .github/instructions/context.instructions.md
  .github/instructions/deeplink-contract.instructions.md
  .github/instructions/update-context.instructions.md
  AGENTS.md
  docs/superpowers/plans/2026-04-17-anitrend-customization-pack.md
  docs/superpowers/specs/2026-04-17-anitrend-customization-pack-design.md
  src/app/dashboard/page.tsx
  src/components/anime-analytics.tsx
  src/components/dashboard-open-lists-button.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

feat: add Open Graph support and enhance metadata for discover and recommend pages (#447)
  .agents/skills/anitrend-agentic-workflow/SKILL.md
  .agents/skills/anitrend-ecosystem-awareness/SKILL.md
  .agents/skills/anitrend-ecosystem-awareness/references/app-route-contract.md
  .agents/skills/anitrend-ecosystem-awareness/references/website-surfaces.md
  .agents/skills/anitrend-metadata-and-social-preview/SKILL.md
  .agents/skills/anitrend-metadata-and-social-preview/references/app-router-metadata.md
  .agents/skills/anitrend-shadcn-extension-patterns/SKILL.md
  .agents/skills/anitrend-shadcn-extension-patterns/references/primitive-extension.md
  .agents/skills/keeping-nextjs-react-tailwind-coherent/SKILL.md
  .agents/skills/keeping-nextjs-react-tailwind-coherent/references/nextjs.md
  .agents/skills/keeping-nextjs-react-tailwind-coherent/references/react.md
  .agents/skills/keeping-nextjs-react-tailwind-coherent/references/repo-patterns.md
  .agents/skills/keeping-nextjs-react-tailwind-coherent/references/tailwind.md
  .github/instructions/app-router.instructions.md
  .github/instructions/context.instructions.md
  .github/instructions/deeplink-contract.instructions.md
  .github/instructions/update-context.instructions.md
  .github/workflows/release-drafter.yml
  AGENTS.md
  docs/superpowers/plans/2026-04-17-anitrend-customization-pack.md
  docs/superpowers/specs/2026-04-17-anitrend-customization-pack-design.md
  src/app/dashboard/page.tsx
  src/app/discover/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/recommend/layout.tsx
  src/components/anime-analytics.tsx
  src/components/dashboard-open-lists-button.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

chore: optimize deployment workflow (#342)
  .github/workflows/deploy.yml
Due: none

chore: bump version to sha-ae77a19
  package.json
Due: prettier -w

chore: bump version to sha-ab216ce
  package.json
Due: prettier -w

chore: bump version to 0.4.0
  package.json
Due: prettier -w

feat(copy): add centralised English copy domain modules
  src/copy/en/anime.ts
  src/copy/en/common.ts
  src/copy/en/dashboard.ts
  src/copy/en/discover.ts
  src/copy/en/index.ts
  src/copy/en/marketing.ts
  src/copy/en/metadata.ts
  src/copy/en/recommend.ts
  src/copy/index.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

refactor(app): migrate route pages to centralised copy
  src/app/anime/[id]/page.tsx
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/recommend/page.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

refactor(components): migrate landing sections to centralised copy
  src/components/sections/ai-recommender-section.tsx
  src/components/sections/community-section.tsx
  src/components/sections/get-the-app-section.tsx
  src/components/sections/hero-section.tsx
  src/components/sections/integrations-section.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

refactor(components): migrate shared chrome to centralised copy
  src/components/anime-analytics.tsx
  src/components/consent/analytics-consent-banner.tsx
  src/components/dashboard-open-lists-button.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/settings/analytics-settings.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

refactor(components): migrate discover client to centralised copy
  src/components/discover-client.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

fix(config): allow all myanimelist.net image hostnames
  next.config.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

docs(instructions): document copy and content conventions
  .github/instructions/context.instructions.md
Due: prettier -w

refactor(workflows): update release drafter configuration for pull request handling
  .github/workflows/release-drafter-autolabeler.yml
  .github/workflows/release-drafter.yml
Due: none

refactor: centralise copy en (#460)
  .github/instructions/context.instructions.md
  .github/workflows/release-drafter-autolabeler.yml
  .github/workflows/release-drafter.yml
  next.config.ts
  src/app/anime/[id]/page.tsx
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/recommend/page.tsx
  src/components/anime-analytics.tsx
  src/components/consent/analytics-consent-banner.tsx
  src/components/dashboard-open-lists-button.tsx
  src/components/discover-client.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/sections/ai-recommender-section.tsx
  src/components/sections/community-section.tsx
  src/components/sections/get-the-app-section.tsx
  src/components/sections/hero-section.tsx
  src/components/sections/integrations-section.tsx
  src/components/settings/analytics-settings.tsx
  src/copy/en/anime.ts
  src/copy/en/common.ts
  src/copy/en/dashboard.ts
  src/copy/en/discover.ts
  src/copy/en/index.ts
  src/copy/en/marketing.ts
  src/copy/en/metadata.ts
  src/copy/en/recommend.ts
  src/copy/index.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

feat: add code-review-graph configuration and skills documentation
  .claude/settings.json
  .claude/skills/debug-issue.md
  .claude/skills/explore-codebase.md
  .claude/skills/refactor-safely.md
  .claude/skills/review-changes.md
  .gitignore
  .mcp.json
  .opencode.json
  docs/codebase/.codebase-scan.txt
Due: prettier -w

refactor: update Yarn configuration and package manager version
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier -w

refactor: update DialogFooter layout for improved responsiveness
  src/components/app-handoff/app-handoff-fallback-dialog.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

fix(docker): copy locale messages into build stage
  Dockerfile
Due: none

refactor(recommend): retire unsupported genkit experience
  .github/instructions/app-router.instructions.md
  .github/instructions/context.instructions.md
  AGENTS.md
  README.md
  messages/en/common.json
  messages/en/dashboard.json
  messages/en/marketing.json
  messages/en/recommend.json
  package.json
  src/ai/dev.ts
  src/ai/flows/recommend-anime-flow.ts
  src/ai/genkit.ts
  src/app/dashboard/page.tsx
  src/app/page.tsx
  src/app/recommend/layout.tsx
  src/app/recommend/page.tsx
  src/components/header.tsx
  src/components/sections/ai-recommender-section.tsx
  src/i18n/request.ts
  tests/recommend-retirement.spec.ts
  yarn.lock
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

Path conditions:
  eslint --max-warnings=0 --no-warn-ignored: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
