Repository AniTrend/anitrend-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

refactor: update footer layout and enhance GitHub icon with simple-icons
  src/components/footer.tsx
  src/components/header.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: add discord button variant with hover effects and transitions
  src/components/ui/button.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: update README with project details, tech stack, and contribution guidelines
  README.md
Due: prettier -w

feat: remove QR code functionality and update Google Play button for direct link
  next.config.ts
  src/app/page.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: add Discord icon component and update layout metadata with icons
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: add Google Play icon to the homepage and improve accessibility with role attribute
  src/app/page.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: add new icons and update header with logo image
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon-192.png
  public/icon-512.png
  public/logo.png
  src/components/footer.tsx
  src/components/header.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: add app icons for touch and browser compatibility
  src/app/apple-touch-icon.png
  src/app/favicon.ico
  src/app/icon-192.png
  src/app/icon-512.png
Due: none

feat: enhance DiscoverClient with advanced filtering, search functionality, and pagination support
  src/app/anime/[id]/page.tsx
  src/app/discover/page.tsx
  src/components/discover-client.tsx
  src/lib/anime-service.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: remove contact form component to streamline codebase
  .github/instructions/context.instructions.md
  .github/instructions/update-context.instructions.md
  src/app/anime/[id]/page.tsx
  src/app/dashboard/page.tsx
  src/app/discover/page.tsx
  src/app/page.tsx
  src/app/recommend/page.tsx
  src/components/anime-preview.tsx
  src/components/contact-form.tsx
  src/components/header.tsx
  src/components/repository-showcase.tsx
  src/components/sections/ai-recommender-section.tsx
  src/components/sections/app-showcase-section.tsx
  src/components/sections/community-section.tsx
  src/components/sections/features-section.tsx
  src/components/sections/get-the-app-section.tsx
  src/components/sections/hero-section.tsx
  src/components/sections/integrations-section.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

feat: remove unused icon files to streamline asset management
  src/app/apple-touch-icon.png
  src/app/favicon.ico
  src/app/icon-192.png
  src/app/icon-512.png
Due: none

feat: restructure layout with header and footer components
  src/app/layout.tsx
  src/app/page.tsx
  src/config/links.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: update links configuration with dynamic URLs and fallback repository data
  src/app/page.tsx
  src/config/links.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: add screenshot functionality with curated showcase and detailed categories
  public/screenshots/anime-detail-2.png
  public/screenshots/anime-detail.png
  public/screenshots/app-home-dark.png
  public/screenshots/app-home-light.png
  public/screenshots/discover.png
  public/screenshots/dual-theme-1.png
  public/screenshots/dual-theme-2.png
  public/screenshots/feeds-1.png
  public/screenshots/feeds-2.png
  public/screenshots/feeds-3.png
  public/screenshots/manga-detail.png
  public/screenshots/more-1.png
  public/screenshots/more-2.png
  public/screenshots/more-3.png
  public/screenshots/more-4.png
  public/screenshots/more-5.png
  public/screenshots/more-6.png
  public/screenshots/reviews-1.png
  public/screenshots/reviews-2.png
  public/screenshots/reviews-3.png
  public/screenshots/user-profile.png
  src/app/page.tsx
  src/lib/screenshots-service.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: improve getShowcaseScreenshots function to handle undefined results and enhance type safety
  src/lib/screenshots-service.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: enhance caching comments
  src/lib/github-service.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat: enhance type safety in RateLimiter's debounce and throttle methods
  src/components/discover-client.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat(docker): add Dockerfile and docker-compose configurations for development and production
  .github/instructions/context.instructions.md
  Dockerfile
  README.md
  apphosting.yaml
  compose.dev.yaml
  compose.prod.yaml
Due: prettier -w

ci: add issue templates and workflows for better contribution management
  .dockerignore
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/instructions/context.instructions.md
  .github/release-drafter-config.yml
  .github/workflows/auto-approve.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  next.config.ts
  public/screenshots/v2/anime-detail-1-light.png
  public/screenshots/v2/anime-detail-2-light.png
  public/screenshots/v2/app-auth-light.png
  public/screenshots/v2/app-drawer-accounts-light.png
  public/screenshots/v2/app-drawer-expanded-light.png
  public/screenshots/v2/app-drawer-light.png
  public/screenshots/v2/app-home-light-1.png
  public/screenshots/v2/app-home-light-2.png
  public/screenshots/v2/app-home-light.png
  public/screenshots/v2/app-splash.png
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

ci: add Dockerfile and docker-compose configurations for development and production (#130)
  .dockerignore
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/instructions/context.instructions.md
  .github/release-drafter-config.yml
  .github/workflows/auto-approve.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  apphosting.yaml
  compose.dev.yaml
  compose.prod.yaml
  next.config.ts
  public/screenshots/v2/anime-detail-1-light.png
  public/screenshots/v2/anime-detail-2-light.png
  public/screenshots/v2/app-auth-light.png
  public/screenshots/v2/app-drawer-accounts-light.png
  public/screenshots/v2/app-drawer-expanded-light.png
  public/screenshots/v2/app-drawer-light.png
  public/screenshots/v2/app-home-light-1.png
  public/screenshots/v2/app-home-light-2.png
  public/screenshots/v2/app-home-light.png
  public/screenshots/v2/app-splash.png
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

fix(workflow): change release drafter trigger branch from dev to main
  .github/workflows/release-drafter.yml
Due: none

fix(workflow): update security audit command to use npm audit
  .github/workflows/deploy.yml
Due: none

fix(workflow): change release drafter trigger branch from dev to main (#138)
  .github/workflows/deploy.yml
  .github/workflows/release-drafter.yml
Due: none

chore: add Apache License 2.0
  LICENSE
Due: none

chore: update README.md
  README.md
Due: prettier -w

chore: add Apache License 2.0 (#139)
  LICENSE
  README.md
Due: prettier -w

fix: update release drafter configuration to include testing, CI/CD, and revert categories
  .github/release-drafter-config.yml
Due: none

fix: update issue template links to correct repository path
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier -w

ci: update workflow names for consistency and improve security audit command
  .github/workflows/auto-approve.yml
  .github/workflows/deploy.yml
  package.json
Due: prettier -w

ci: update workflow names for consistency and improve security audit command (#140)
  .github/workflows/auto-approve.yml
  .github/workflows/deploy.yml
  package.json
Due: prettier -w

feat: improves API caching and resilience
  .github/instructions/context.instructions.md
  src/app/discover/page.tsx
  src/lib/anime-service.ts
  src/lib/cache-aware-fetch.ts
  src/lib/test-cache-headers.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

chore: update src/components/settings/analytics-settings.tsx
  src/components/settings/analytics-settings.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

chore: update src/lib/firebase.ts
  src/lib/firebase.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

feat(analytics): add Firebase analytics, consent UI and event instrumentation
  package.json
  src/app/anime/[id]/page.tsx
  src/app/layout.tsx
  src/app/recommend/page.tsx
  src/components/analytics.tsx
  src/components/anime-analytics.tsx
  src/components/anime-card.tsx
  src/components/consent/analytics-consent-banner.tsx
  src/components/discover-client.tsx
  src/components/header.tsx
  src/components/settings/analytics-settings.tsx
  src/lib/firebase.ts
  yarn.lock
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

feat(analytics): add Firebase analytics, consent UI and event instrumentation (#190)
  package.json
  src/app/anime/[id]/page.tsx
  src/app/layout.tsx
  src/app/recommend/page.tsx
  src/components/analytics.tsx
  src/components/anime-analytics.tsx
  src/components/anime-card.tsx
  src/components/consent/analytics-consent-banner.tsx
  src/components/discover-client.tsx
  src/components/header.tsx
  src/components/settings/analytics-settings.tsx
  src/lib/firebase.ts
  yarn.lock
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, prettier -w

refactor(recommend): use FormData API instead of DOM querying for form value extraction
  .github/workflows/deploy.yml
  src/app/recommend/page.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

build(docker): optimize Docker build with layered caching strategy
  .github/workflows/deploy.yml
  Dockerfile
Due: none

fix(recommend): safely extract prompt from FormData and set prompt before transition
  src/app/recommend/page.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

chore: minor cleanups and refactor (#191)
  .github/workflows/deploy.yml
  Dockerfile
  src/app/recommend/page.tsx
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --max-warnings=0 --no-warn-ignored: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
